* {
  box-sizing: border-box;
   
}

body {
  /*👉background-color: red;👈*/
  /*👉  background-image: url("/public/paperBackground.png");👈*/
 
  margin: 0;
  padding: 0;
  /*👉  font-family: "Karla", sans-serif;👈*/
  font-family: "Handlee", cursive;
}
