.nav--pencil {
  position: absolute;
  width: 250px;
  right: 20px;
}
.primary--nav{
   background-color: #feff9c;
  padding: 16px 32px;
  box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.55);
}
nav a {
  margin-right: 16px;
}