.pencil--container {
  position: absolute;
  right: 20px;
  top: 15px;
  margin: 0px;

}

.nav--pencil {
  width: 250px;
}
.signInUp {
  position: absolute;
  top: 2px;
  right: 25%;

}
.primary--nav {
  background-color: #feff9c;
  padding: 16px 32px;
  box-shadow: 0.5px 0.5px 10px 0.5px rgba(0, 0, 0, 0.55);
}
nav a {
  margin-right: 16px;
}
